# MongoDB Database Configuration
MONGODB_URI="Enter your connection string"
MONGODB_DB="Enter your Database"
MONGODB_COLLECTION="Enter your collection"

# Geoportal Login Credentials
VITE_GEOPORTAL_USERNAME="Enter Username"
VITE_GEOPORTAL_PASSWORD="Enter Password"
